*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: cornsilk;
}
.App{
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main*/

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1.5rem;
  max-width: 1024px;
}
.title{
  color: #1778F2;
  text-align: center;
}
.btn-Add{
  border: none;
  border: 1px solid #1aa33a;
  background-color: #1aa33a;
  color: white;
  padding: 0.5rem 0.25rem;
  font-size: 1.25rem;
  border-radius: 4px;
  width: 180px;
  margin-left: auto;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.btn-Add:hover{
  background-color: rgb(1, 158, 1);
}

@media screen and (max-width:768px) {
  .title{
    font-size: 2rem;
    line-height: 2rem;
  }
}